<div class="seasList">
<div class = "row">
<div class = "column left">


    <mat-form-field appearance="fill">
        <mat-label>Select Season</mat-label>
        <mat-select>
            <ul class="listSeason">
                <li *ngFor="let season of seasons" class="seasons">
                    <mat-option value="season.season">{{season.season}}</mat-option>
                </li>
            </ul>
        </mat-select>
    </mat-form-field>


    <mat-form-field appearance="fill">
        <mat-label>Select Conference</mat-label>
        <mat-select>
            <ul class="listSeason">
                <li *ngFor="let conf of confs" class="seasons">
                    <mat-option value="conf.conf">{{conf.conf}}</mat-option>
                </li>
            </ul>
        </mat-select>
    </mat-form-field>


    <mat-form-field appearance="fill">
        <mat-label>Select Event</mat-label>
        <mat-select>
            <ul class="listSeason">
                <li *ngFor="let ev of events" class="seasons">
                    <mat-option value="ev.ev">{{ev}}</mat-option>
                </li>
            </ul>
        </mat-select>
    </mat-form-field>
</div>

<div class = "column right">
    <mat-card>
    <ngx-charts-line-chart 
    [view]="[700,300]"
    [results]="data2"
    [xAxisLabel]="'Athlete'"
    [legendTitle]="'legend'"
    [yAxisLabel]="'Time'"
    [legend]="false"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxis]="true"
    [yAxis]="true"
    [gradient]="true"
    [autoScale] = "true"
    [roundDomains]="true">
    
    </ngx-charts-line-chart>
</mat-card>

</div>
</div>
</div>