<div class="seasList">
<div class = "row">
<div class = "column left">

    <mat-stepper orientation="vertical" class="bg" linear #stepper>
        <mat-step>
          <ng-template matStepLabel>Select Season</ng-template>
          <ng-template matStepContent>
            <mat-form-field appearance="fill">
                <mat-label>Select Season</mat-label>
                <mat-select (selectionChange)="onSeasonSelectionChange($event, stepper)">
                    <mat-option *ngFor="let season of seasons" [value]="season.season">{{ season.season }}</mat-option>
                </mat-select>
            </mat-form-field>
          </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Select Conference</ng-template>
          <ng-template matStepContent>
            <mat-form-field appearance="fill">
                <mat-label>Select Conference</mat-label>
                <mat-select (selectionChange)="onConferenceSelectionChange($event, stepper)">
                    <mat-option *ngFor="let conf of confs" [value]="conf.conf">{{ conf.conf }}</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-button matStepperPrevious>Back</button>
          </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Select Event</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>Select Event</mat-label>
            <mat-select (selectionChange)="onEventSelectionChange($event)">
                <mat-option *ngFor="let ev of events" [value]="ev">{{ ev }}</mat-option>
            </mat-select>
        </mat-form-field>
        </mat-step>
    </mat-stepper>
</div>

<div class = "column right">
    <mat-card>
    <ngx-charts-line-chart 
    [view]="[700,300]"
    [results]="data2"
    [xAxisLabel]="'Athlete'"
    [legendTitle]="''"
    [yAxisLabel]="'Time'"
    [legend]="true"
    [legendPosition]="legendPosition"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxis]="true"
    [yAxis]="true"
    [gradient]="true"
    [autoScale] = "true"
    [roundDomains]="true">
    </ngx-charts-line-chart>
</mat-card>

</div>
</div>
</div>