#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: darkblue;
    color: whitesmoke;
}

.headerList {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
}

.headerListItem {
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 2%;
    margin-right: 2%;
    color: whitesmoke;
}

.headerLink {
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: wheat;
}

.headerLink.active {
    background-color: whitesmoke;
    color: purple;
}